/* ALTERAÇÕES GLOBAIS */

    * { margin: 0;
    padding: 0;
    font-family: montserrat; }

    a { text-decoration: none; }

    h4 { font-size: 14px;}

    p { font-size: 14px;}


/* PRIMEIRA BARRA DE NAVEGAÇÃO GOV */

    .topo-gov { }

            .bandeira-gov { }

        .topo-gov ul {  }

        .topo-gov li {  }

        .topo-gov a {   }

        .topo-gov nav { }


/* SEGUNDA BARRA DE NAVEGAÇAO E-MEC */

    .topo-emec {    }

        .topo-emec a {  }

        .caixa-logo-emec {  }

            .logo-emec {    }

        .menu-emec {   }

            .icone-cadastro { }

            .icone-perguntas-frequentes {   }

            .icones-documentos-apoio { }

            .icone-incricao-basis { }

            .icone-regulacao-avaliacao {    }

    
/* SEÇÃO INTRODUTÓRIA INFORMATIVA */

    .class-secao-introdutoria { }

        .class-secao-introdutoria h1 {  }

        .class-secao-introdutoria h2 {  }

        .class-secao-introdutoria p {   }


/* SEÇÃO MAIN DA CONSULTA */

    .main-consulta {   }

    /* NAV DE CONSULTAS  */

        .nav-consultas {   }

            .navegacao-flutuante {  }

            .consultas {    }

                .icone-consulta-avancada {  }
                
                .icone-consulta-textual {   }

                .icone-ies {    }

    /* FILTROS */

    .filtros { background: rgb(230, 230, 230);
    border-radius: 4px;
    padding: 10px; 
    display: inline-block;
    }

        .inputs { display: flex;
        padding: 10px 0;
        align-items: center;}

            .inputs label { padding: 10px 10px 10px 0; }
            
            .inputs input { padding: 10px; }

            .inputs p { padding: 10px; font: initial; font-family: montserrat; font-size: 14px;}

            .inputs select { padding: 10px; margin: 0 10px 0 0;}
            
            


        button { background: rgb(12, 133, 239);
        border-radius: 50px;
        padding: 4px 60px;
        border: 0;
        color: aliceblue;        
        }


/* RODAPÉ */

    .footer { background: rgb(184, 184, 184);
    padding: 10px;}
            
        .footer p { }

        .footer a { }




